 /*==================================================================
[ Component - userlayoutsidebar ]*/

  h5 {
    font-family: '8-bit Wonder';
  }

  .name-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    position: relative;
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .square-image-container-sidebar {
    width: 100%;
    height: 200px;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    }

    .square-image-container-sidebar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

/*==================================================================
[ List - index ]*/

  .game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-wrapper {
    position: relative;
  }

  .image-wrapper img {
    transition: opacity 0.3s;
  }

  .image-wrapper:hover img {
    opacity: 0.7;
  }

  .delete-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .game-item:hover .delete-form {
    opacity: 1;
    pointer-events: auto;
  }

  .delete-button {
    margin-top: 10px;
  }


/*==================================================================
[ Notes - index /// Review - index ]*/

  .locked {
    background-color: #f2f2f2;
    cursor: not-allowed;
  }


/*==================================================================
[ Review - show_reviews /// Search - show /// User - index ]*/

  .square-image-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    }

    .square-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }


/*================================================================== */