
.b-example-divider {
    width: 100%;
    height: 3rem;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.0rem;
    height: 100vh;
  }